:root {
    --primary-background-color: #121212;
    --header-text-color: #e0e0e0;
    --primary-text-color: #e0e0e0;
    --secondary-text-color: #b0b0b0;
    --tertiary-text-color: #bb86fc;
    --button-background-color: #bb86fc;
    --button-hover-color: #3700b3;
    --input-border-color: #333;
    --input-focus-border-color: #bb86fc;
    --box-shadow-color: rgba(255, 255, 255, 0.1);
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

body {
    display: block;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

a {
    text-decoration: none;
    color: var(--tertiary-text-color);
}

.job-card {
    display: block;
    background-color: var(--primary-background-color);
    margin: 15px auto;
    padding: 5px 15px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    border-radius: 2%;
    font-size: .9rem;
}

header {
    color: var(--header-text-color);
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: var(--secondary-text-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    padding: 20px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    border-radius: 8px;
    margin: 20px auto;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #333;
    color: var(--primary-text-color);
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

form button[type="submit"], form button[type="button"] {
    background-color: var(--button-background-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#go-back {
    background-color: #666;
    color: #ccc;
}

#skip {
    background-color: #cf6679;
}

form button[type="submit"]:hover {
    background-color: var(--button-hover-color);
}

form label {
    width: 100%;
    margin-bottom: 5px;
    color: var(--primary-text-color);
    font-weight: bold;
    text-align: left;
}

button[disabled] {
    background-color: #666;
    color: #999;
    cursor: not-allowed;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select select {
    display: none; /*hide original SELECT element*/
}

.select-selected {
    background-color: #333;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.select-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.select-items div {
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    box-shadow: 0 0 5px var(--box-shadow-color);
    transition: background-color 0.3s, border-color 0.3s;
}

.select-items div.selected {
    background-color: #444;
    border-color: var(--input-focus-border-color);
}

.select-items div:hover {
    background-color: #555;
}

.select-selected:after {
    content: "";
    position: absolute;
    top: 14px;
    right: 10px;
    border: 6px solid transparent;
    border-color: var(--input-border-color) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--input-border-color) transparent;
    top: 7px;
}

.custom-select .selected {
    background-color: #444;
    border-color: var(--input-focus-border-color);
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.flashes li {
    background-color: #b00020;
    color: #fff;
    padding: 10px;
    border: 1px solid #b00020;
    border-radius: 5px;
    margin-bottom: 10px;
}

.job-card-link a {
    color: var(--secondary-text-color);
}

.selected-positions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.selected-positions div {
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0 0 5px var(--box-shadow-color);
    transition: background-color 0.3s, border-color 0.3s;
}

.selected-positions div:hover {
    background-color: #444;
    border-color: var(--input-focus-border-color);
}

.selected-positions div .remove-btn {
    margin-left: 10px;
    color: var(--button-hover-color);
    cursor: pointer;
    font-weight: bold;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.center-text {
    text-align: center;
}

.job-count {
    font-size: 1.2em;
    color: #bb86fc;
    margin-top: 10px;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}